:root {
    --bg-cor: #1d1825;
    --bg-cor-sec: #2f2741;
    --font-color: #F5F5FA;
    --font-color-blue: #27bee7;
    --font-size-small: 1.1rem;
    --font-size-medium: 1.8rem;
    --font-size-big: 2.4rem;
}

header {
    width: 100vw;
    height: 90px;
    background-color: var(--bg-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 999;
}

/* LOGO DO SITE */
.logo--header {
    width: 100%;
    height: 60%;
}

/* LINK DENTRO DO LOGO */
header a {
    min-width: 20px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* CONTAINER DO MENU MOBILE */
.container--nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
}

/* CONTAINER DO BOTAO DO MENU MOBILE */
.container--nav-btn-mobile {
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* LINHAS DO MOBILE MENU */
.bnt--mobile-linha-1 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-1 {
    transform: translateY(10px) rotate(-310deg);
}

.bnt--mobile-linha-2 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    margin: 7px 0px 7px 0px;
    border-radius: 30px;
    transition: all .5s 100ms ease-out;
}

.active--linha-2 {
    opacity: 0;
}

.bnt--mobile-linha-3 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-3 {
    transform: translateY(-10px) rotate(310deg);
}

.nav--area {
    position: fixed;
    top: 70px;
    right: 0;
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #1d1825;
    overflow: hidden;
    transition: all .8s ease-in-out;
    padding: 0;
    padding: 0px;
}

    .nav--area li {
        margin-top: 50px;
        max-width: 80%;
        list-style: none;
        text-align: center;
    }

        .nav--area li:nth-child(2) {
            color: #27bee7;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            padding: 0;
            cursor: pointer;
        }

        .nav--area li a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: #27bee7;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            padding: 0;
        }


.nav--desktop {
    display: none;
}

/* TELA MODAL LOGIN */
.modal--login {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #362e49ce;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

/* FORM DA TELA LOGIN */
.form--login {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #231c30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* CARDS LOGIN E SENHA */
.login--card,
.senha--card {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SUBINDO CARD SENHA */
.senha--card {
    transform: translateY(-50px);
}

    /* INPUTS E LABELS DO CARD LOGIN */
    .login--card label,
    .senha--card label,
    .login--card input,
    .senha--card input {
        width: 70%;
    }

    .login--card input,
    .senha--card input {
        padding: 13px;
        border-radius: 7px;
        border: none;
        outline: none;
        font-size: 1.1rem;
        color: rgb(207, 207, 207);
        background-color: #514869;
        box-shadow: 0px 10px 40px #00000056;
    }

.form--login input:focus {
    border-bottom: #27bee7 3px solid;
}


.login--card label,
.senha--card label {
    color: #27c7f3;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

/* BOTAO CARD LOGIN */
.modal--login button {
    margin-top: 30px;
    width: 40%;
    padding: 13px 15px 13px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #362e49;
    font-weight: 600;
    background-color: #27bee7;
    cursor: pointer;
    transform: translateY(-120px);
    font-size: 1.1rem;
}

/* MODAL BOTAO DE VOLTAR */
.btn--login-close {
    width: 60px;
    height: 40px;
    font-size: 1.1rem;
    color: #27bee7;
    border-radius: 10px;
    padding: 2px;
    background-color: #362e49;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.back--btn {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

/* LINK ESQUECI SENHA E CADASTRO */
.modal--links {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transform: translateY(-90px);
    font-size: 1.2rem;
}

    .modal--links a {
        max-width: 100%;
        margin: 0px 40px 0px 0px;
        color: #3cc6ec;
    }

        .modal--links a:nth-child(2) {
            max-width: 100%;
            margin: 0;
            color: #3cc6ec;
        }

/* CLASS PARA ATIVAR O MODEL LOGIN */
.active--modal {
    display: none;
}

@media screen and (min-width: 800px) {

    .modal--login {
        background-color: #201b2cd3;
    }

    .nav--desktop {
        display: flex;
        margin-right: 50px;
        width: 40%;
        justify-content: space-around;
    }

        .nav--desktop a,
        .nav--desktop p {
            width: 120px;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 0;
            font-size: 1.4rem;
            font-weight: 600;
            color: #27bee7;
        }

            .nav--desktop p:nth-child(2) {
                width: 120px;
                height: 40px;
                display: flex;
                justify-content: center;
                padding: 0;
                font-size: 1.6rem;
                font-weight: 600;
                color: #362e49;
                cursor: pointer;
                border-radius: 5px;
                background-color: #27bee7;
                margin: 0;
            }

    .form--login {
        width: 60%;
        height: 80%;
        border-radius: 20px;
        background-color: #231c30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 10px 40px #00000056;
    }

    .login--card,
    .senha--card {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .login--card input,
        .senha--card input {
            padding: 13px;
            background-color: #514869;
            border-radius: 10px;
            box-shadow: 0px 10px 40px #00000056;
        }

    .form--login button {
        width: 45%;
        background-color: #3cc6ec;
        padding: 12px 15px 12px 15px;
        color: #2f2741;
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .login--card label,
    .senha--card label {
        color: white;
        margin-bottom: 10px;
    }

    .modal--links {
        font-size: 1.1rem;
    }

    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .nav--desktop {
        width: 25%;
        display: flex;
        justify-content: space-around;
    }

        .nav--desktop a {
            width: 120px;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 0;
            font-size: 2rem;
            font-weight: 600;
            color: #27bee7;
        }

        .nav--desktop p:nth-child(2) {
            border-radius: 10px;
            width: 150px;
            background-color: #27bee7;
            display: flex;
            justify-content: center;
            text-align: center;
            color: #362e49;
        }

    .form--login {
        max-width: 50%;
        height: 80%;
        border-radius: 20px;
        background-color: #231c30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .login--card,
    .senha--card {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .login--card label,
        .senha--card label {
            font-size: 2.2rem;
        }

        .login--card input,
        .senha--card input {
            font-size: 2rem;
        }

        .login--card label,
        .senha--card label,
        .login--card input,
        .senha--card input {
            max-width: 50%;
        }

    .btn--login-close {
        width: 80px;
        height: 50px;
    }

    .bi-arrow-left {
        font-size: 1.8rem;
    }

    .modal--links {
        font-size: 1.6rem;
    }

    .modal--login button {
        font-size: 1.5rem;
    }

    .nav--desktop a p {
        font-size: 2rem;
    }

    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }
}
